<h1>WORKERS</h1>
<table mat-table [dataSource]="workers" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Worker ID </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'offline': !element.online, 'online': element.online}">• {{element.online ? 'Online' : 'Offline'}} </td>
  </ng-container>

  <ng-container matColumnDef="lastActivity">
    <th mat-header-cell *matHeaderCellDef> Last updated </th>
    <td mat-cell *matCellDef="let element"> {{element.created | timeAgo}} </td>
  </ng-container>

  <ng-container matColumnDef="cpuUsage">
    <th mat-header-cell *matHeaderCellDef> CPU </th>
    <td mat-cell *matCellDef="let element"> {{element.params.cpuUsage}} </td>
  </ng-container>

  <ng-container matColumnDef="tasks">
    <th mat-header-cell *matHeaderCellDef> Tasks </th>
    <td mat-cell *matCellDef="let element"> {{element.params.tasks}} </td>
  </ng-container>

  <ng-container matColumnDef="metricXY">
    <th mat-header-cell *matHeaderCellDef> MetricXY </th>
    <td mat-cell *matCellDef="let element"> {{element.params.metricXY}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
